spring:
  application:
    name: servico-producao

server:
  port: 8080

aws:
  region: ${AWS_REGION:us-east-1}
  dynamodb:
    table-name: ${DYNAMODB_PAGAMENTOS_TABLE:techchallenge-producao}

services:
  pedidos:
    url: ${PEDIDOS_SERVICE_URL:http://pedidos-service:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
